<!doctype html>
<html lang="de" dir="ltr">
    {{include "layouts/_head"}}
  <body class="">
    <div class="page">
      <div class="page-content">
        <div class="container text-center">
          <div class="display-1 text-muted mb-5"><i class="si si-exclamation"></i> 404</div>
          <h1 class="h2 mb-3">Oops.. Diese Seite haben wir leider nicht gefunden...</h1>
          <p class="h4 text-muted font-weight-normal mb-7">Scheinbar existiert diese Seite nicht mehr oder du hast dich vertippt.</p>
          <a class="btn btn-primary" href="javascript:history.back()">
            <i class="fe fe-arrow-left mr-2"></i>Zurück
          </a>
        </div>
      </div>
    </div>
  </body>
</html>