{{define "content"}}

<div class="container">
  <div class="page-header">
    <h1 class="page-title">
      Messfeiern in St. Quirin
	</h1>
	
</div>
  <div class="row row-cards">
    <div class="col-lg-2">

      <form class="card" method="POST" action="/messen/importFromKaplan">
        <div class="card-status  card-status bg-green"></div>
        <div class="card-header">
          <h3 class="card-title"><i class="fa fa-table"></i> Messen laden</h3>
        </div>
        <div class="card-body">
          <p>Über den Klick auf den unteren Button werden die Messen für die nächsten 60 Tage aus dem Internet in das System geladen. Bestehende Messen werden nicht überschrieben.</p>          
        </div>
        <div class="card-footer text-right">
          <input name="kirchenID" type="text" value="21" hidden>
          <input name="anzahlTage" type="text" value="60" hidden >
          <button submit class="btn btn-green"><i class="fe fe-download"></i> Messen laden</button>
        </div>
      </form>

      <form class="card" method="POST">
        <div class="card-status  card-status bg-green"></div>
        <div class="card-header">
          <h3 class="card-title"><i class="fa fa-plus"></i> Neue Messe hinzufügen</h3>
        </div>
        <div class="card-body">
          <div class="form-group">
            <label class="form-label">Datum & Uhrzeit</label>
            <input type="text" name="date" data-timepicker="true" id="datepicker" class="form-control datepicker-here"
              placeholder="00.00.000 00:00" data-language="de" data-position="bottom left"
              placeholder="01.02.2019 11:30" required readonly autocomplete="off" />
          </div>
          <script>

            function edit(Datum, Uhrzeit, Gottesdienst, LiturgischerTag, Bemerkung, UUID) {
              console.log(Datum)
              document.getElementById("textfieldGottesdienst").value = Gottesdienst
              document.getElementById("textfieldBemerkung").value = Bemerkung
              document.getElementById("textfieldTag").value = LiturgischerTag
              document.getElementById("textfieldUUID").value = UUID
              document.getElementById("datepicker").value = Datum + " " + Uhrzeit

            }
          </script>
          <div class="form-group">
            <label class="form-label">Gottesdienst</label>
            <input type="text" name="gottesdienst" id="textfieldGottesdienst" class="form-control" placeholder="Messe"
              required />
          </div>

          <div class="form-group">
            <label class="form-label">Litrugischer Tag</label>
            <input type="text" name="tag" id="textfieldTag" class="form-control" />
          </div>

          <div class="form-group">
            <label class="form-label">Bemerkung</label>
            <input type="text" name="bemerkung" id="textfieldBemerkung" class="form-control" />
          </div>
          <input type="text" id="textfieldUUID" class="form-control" name="uuid" hidden>


        </div>
        <div class="card-footer text-right">
          <button type="submit" class="btn btn-green"><i class="fe fe-save"></i> Speichern</button>
        </div>
      </form>

      <form class="card" id="uploadForm" method="POST" action="/messen/importFromExcel" enctype="multipart/form-data" hidden>
        <div class="card-status  card-status bg-green"></div>
        <div class="card-header">
          <h3 class="card-title"><i class="fa fa-table"></i> Messen aus Exceltabelle hinzufügen</h3>
        </div>
        <div class="card-body">
          <p>Ein bestehender Messplan, kann auch als Exceldatei importiert werden. Dafür muss die Datei im
			<b>.xls</b> (nicht .xlsx) Format vorliegen und nach folgendem Schema aufgebaut sein:</p>
			<a href="/assets/images/messentabelle.png" target="blank"><img class="card-img" src="/assets/images/messentabelle.png" alt=""></a>
          
        </div>
        <div class="card-footer text-right">
          <input name="file" type="file" id="file" accept="application/vnd.ms-excel" hidden>
          <label for="file" class="btn btn-green"><i class="fe fe-upload"></i> Excel-Datei hochladen</label>
        </div>
      </form>

      <form method="POST" action="/messen/deleteAll">
        <div class="card card-collapsed">
          <div class="card-status card-status bg-red"></div>
          <div class="card-header">
            <h3 class="card-title"><i class="fe fe-trash-2"></i> Alle Messen löschen</h3>
            <div class="card-options">
              <a href="#" class="card-options-collapse" data-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a>
            </div>
          </div>
          <div class="card-body">
            <p>Mit einem Klick werden sofort alle angelegten Messen gelöscht. <b>Achtung:</b> Auch bereits erstellte
              Pläne können nicht mehr korrekt bearbeitet oder als PDF heruntergeladen werden!</p>
          </div>
          <div class="card-footer text-right">
            <button submit class="btn btn-red"><i class="fe fe-trash-2"></i> Alle Messen Löschen</button>
          </div>
        </div>
      </form>

      <script>
        document.getElementById("file").onchange = function () {
          document.getElementById("uploadForm").submit();
        };</script>

      </form>
    </div>
    <div class="col-lg-10">

      <div class="card">
        <div class="table-responsive">
          <table class="table card-table">
            <tr>
              <th>Relev.</th>
              <th>Tag</th>
              <th>Datum</th>
              <th>Zeit</th>
              <th>Gottesdienst</th>
              <th>Litur. Tag / Bemerkung</th>
              <th>Info im Plan</th>
              <th class="text-center"><i class="icon-settings"></i></th>
              <th class="text-center"><i class="icon-settings"></i></th>
            </tr>
            {{range $index, $value := .payload}}
            <tr>
              <td class="text-center pt-2">
                <label class="custom-control custom-checkbox custom-control-inline "
                  style="min-height:1.0rem; top:0.1rem;">
                  <input type="checkbox" class="custom-control-input" id="{{convert .UUID}}"
                    onclick="updateCheck(this);" {{if .IsRelevant}} checked{{end}}>
                  <span class="custom-control-label"></span>
                </label>
              </td>
              <td class=" {{if not .IsRelevant}}text-muted{{end}}" name="{{convert .UUID}}">{{getDay .Datum}}</td>
              <td class=" {{if not .IsRelevant}}text-muted{{end}}" name="{{convert .UUID}}">{{getDate .Datum}}</td>
              <td class=" {{if not .IsRelevant}}text-muted{{end}}" name="{{convert .UUID}}">{{getTime .Datum}}</td>
              <td class=" {{if not .IsRelevant}}text-muted{{end}}" name="{{convert .UUID}}">{{.Gottesdienst}}</td>
              <td class=" {{if not .IsRelevant}}text-muted{{end}} py-1 small" name="{{convert .UUID}}">L:
                {{.LiturgischerTag}} <br>B: {{.Bemerkung}}</td>
              <td class=" {{if not .IsRelevant}}text-muted{{end}}" name="{{convert .UUID}}">
                <div class="input">
                  <input type="text" name="{{.UUID}}" class="form-control py-0" placeholder="leer" onblur="autosave(this)"
                    value="{{.InfoForPlan}}" autocomplete="off" >
                </div>
              </td>
              <td class="text-center pt-2 pb-2">
                <a href="#" class="icon"
                  onclick="edit({{getDate .Datum}},{{getTime .Datum}}, {{.Gottesdienst}},{{.LiturgischerTag}},{{.Bemerkung}}, {{.UUID}} ) "><i
                    class="fe fe-edit-2"></i>
                </a>
              </td>
              <td class="text-center pt-2 pb-2">
                <a href="/messen/delete/{{.UUID}}" class="icon"><i class="fe fe-trash-2"></i>
                </a>
              </td>
            </tr>
            {{end}}
		  </table>
        </div>
	</div>
	<a class="text-right" href="/messen?show=all">Zeige alle älteren Messfeiern</a>
    </div>
  </div>
</div>

<script>

  function autosave(t) {
    const xhttp = new XMLHttpRequest();
    uid = t.getAttribute("name")
    value = t.value
    xhttp.open("POST", "/zuordnen/editInfoForPlan?uid=" + uid + "&value=" + value);
    xhttp.send();
  }

</script>


{{end}}